@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {box-sizing: border-box;}

body { 
  margin: 0;
  background-color: black;
  font-family: "Open Sans", sans-serif;
}

.header {
  overflow: hidden;
  background-color: #FF1554;
  height: 15vh;
}

.header-title {
  font-family: "Open Sans", sans-serif;
  color: black;
  text-align: center;
  font-size: 4em; 
  margin-top: 3px;
}

.flex-box {
    display: flex;
    width: 100%;
    justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: 550px 550px;
    grid-gap: 30px;
    margin: 10px;
  }
  
  .container div {
    margin-top: 15px;
    background-color: blue;
    aspect-ratio: 1;
    height: 250px;
    width: 550px;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 1s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container div:hover {
    transform: scale(1.2);
  }

  a:nth-child(1) div:nth-child(1) {
    background-color: #04BE05;
  }

  .container:nth-child(1) div:nth-child(3) {
    background-color: #8C0FFF;
  }

  .container:nth-child(1) div:nth-child(3) {
    background-color: #5103C4;
  }

  .container:nth-child(1) div:nth-child(4) {
    background-color: #97F498;
  }

a {
  text-decoration: none;
}

.fa-2xl {
    font-size: 10em !important;
    color: white !important;
}

#classroom-img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    /* margin-top: 10px; */
}

/* ---------------------- */

.peephole {
  --x: 200px;
  --y: 150px;

  background-image: url(./dyslexia.png);
  background-size: cover;
  width: 75%;
  height: 82vh;
  position: relative;
  margin-top: 10px;
}

.peephole::after {
  content: '';
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* margin-top: 10px; */
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background-image: url(./dystopia-clsroom.png);
  background-size: cover;
  z-index: 1;
  -webkit-mask-repeat: no-repeat no-repeat;
  mask-repeat: no-repeat no-repeat;
  -webkit-mask-image: radial-gradient(100px at var(--x) var(--y), transparent 95%, black 100%);
  mask-image: radial-gradient(100px at var(--x) var(--y), transparent 95%, black 100%);
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; 
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#info-overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; 
  width: 75%; /* Full width (cover the whole page) */
  height: 75%; /* Full height (cover the whole page) */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.75); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  color: white;
  text-align: center;
  font-size: 17px;
}

#info-overlay-container h2 {
  color: white;
  font-size: 3em;
  font-weight: 600;
}

#x {
  position: absolute;
  background: red;
  color: white;
  width: 50px;
  height: 50px;
  top: -10px;
  right: -10px;
  cursor: pointer;
}

.overlay-container {
  width: 100%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-container h2, #info-overlay-container h2 {
  color: white;
  font-size: 3em;
  font-weight: 600;
}

.overlay-container .lenses {
  width: 60%;
  height: 40%;
  background-color: turquoise;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

figure {
  width: 60%;
  height: 40%;
  cursor: pointer;
}

.lens {
  width: 100%;
  height: auto;
  transition: transform 0.5s;
}

.lens:hover {
  transform: scale(1.4);
}

.select, .read-me {
  height: 38vh;
  margin-top: 10px;
  margin-right: 20px;
  padding: 10px 10px;
  background-color: #FF1554;
  color: white;
  font-size: 2em;
  cursor: pointer;
}

figcaption {
  text-align: center;
}