@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Inter:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
}

.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eea5a657
}

.background {
    position: absolute;
    bottom: 0;
    background: rgb(37,150,190);
    background: linear-gradient(0deg, rgba(37,150,190,1) 24%, rgba(192,212,196,1) 66%);
    background: linear-gradient(0deg, #E493B3 24%, #B784B7 66%, #8E7AB5 99%);
    width: 100vw;
    height: 50vh;
    z-index: 2;

}

h1 {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 300;
    font-style: normal;
    position: absolute;
    top: 0px;
    font-size: 4.5em;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 45%;
    margin: 40px;
    background-color: white;
    z-index: 3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
    transition: transform 0.5s;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}



